Repository graalvm/native-build-tools, pull requests merged in 2021-11, with the labels that each got.

#159 Fix classpath jar assuming all entries are jars
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/NativeImagePlugin.java
  native-gradle-plugin/src/test/groovy/org/graalvm/buildtools/gradle/tasks/AbstractPluginTest.groovy
  native-gradle-plugin/src/test/groovy/org/graalvm/buildtools/gradle/tasks/ClasspathJarTest.groovy
  native-gradle-plugin/src/test/groovy/org/graalvm/buildtools/gradle/tasks/GenerateResourcesConfigFileTest.groovy
Labels: bug, oracle-emp, gradle-plugin

#157 Ensure native test image exit code is in range 0-255
  common/junit-platform-native/src/main/java/org/graalvm/junit/platform/NativeImageJUnitLauncher.java
Labels: bug, oca-signed, junit-support

#158 Relocate TestIdentifier build-time init to PlatformConfigProvider
  common/junit-platform-native/src/main/java/org/graalvm/junit/platform/JUnitPlatformFeature.java
  common/junit-platform-native/src/main/java/org/graalvm/junit/platform/config/platform/PlatformConfigProvider.java
Labels: oca-signed, junit-support

#155 Fail native test build for failed tests and containers only
  common/junit-platform-native/src/main/java/org/graalvm/junit/platform/NativeImageJUnitLauncher.java
  common/junit-platform-native/src/test/java/org/graalvm/junit/jupiter/BasicTests.java
Labels: bug, oca-signed, junit-support

#165 Add an option to disable toolchain support
  docs/src/docs/asciidoc/gradle-plugin.adoc
  docs/src/docs/asciidoc/index.adoc
  docs/src/docs/snippets/gradle/groovy/build.gradle
  docs/src/docs/snippets/gradle/kotlin/build.gradle.kts
  native-gradle-plugin/src/functionalTest/groovy/org/graalvm/buildtools/gradle/JavaApplicationFunctionalTest.groovy
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/tasks/BuildNativeImageTask.java
Labels: bug, oracle-emp, gradle-plugin

#167 Move test code to correct files
  samples/java-application-with-reflection/src/test/java/org/graalvm/demo/ApplicationTest.java
  samples/java-application-with-reflection/src/test/java/org/graalvm/demo/CalculatorTest.java
Labels: oca-signed

#170 Rename `agentOptions` -> `agent`
  docs/src/docs/asciidoc/gradle-plugin.adoc
  docs/src/docs/asciidoc/index.adoc
  docs/src/docs/snippets/gradle/groovy/build.gradle
  docs/src/docs/snippets/gradle/kotlin/build.gradle.kts
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/NativeImagePlugin.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/AgentConfiguration.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/internal/BaseNativeImageOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/internal/DeprecatedNativeImageOptions.java
  samples/java-application-with-reflection/build.gradle
Labels: oracle-emp, gradle-plugin

#173 Return null when native-image executable is missing.
  native-maven-plugin/src/main/java/org/graalvm/buildtools/Utils.java
Labels: oca-signed
