Repository graalvm/native-build-tools, pull requests merged in 2022-11, with the labels that each got.

#367 Bump metadata repo version to 0.2.5
  gradle/libs.versions.toml
Labels: OCA Verified

#370 Remove dev version from workflow
  .github/workflows/test-graalvm-metadata.yml
  .github/workflows/test-junit-platform-native.yml
Labels: OCA Verified

#372 Fix compile task out of date when runtime args change
  .github/workflows/test-native-gradle-plugin.yml
  build-logic/gradle-functional-testing/src/main/groovy/org.graalvm.build.functional-testing.gradle
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageCompileOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/dsl/NativeImageRuntimeOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/internal/DelegatingCompileOptions.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/internal/NativeImageExecutableLocator.java
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/tasks/BuildNativeImageTask.java
Labels: bug, OCA Verified

#374 Fix repository not downloaded from Maven Central
  native-gradle-plugin/src/main/java/org/graalvm/buildtools/gradle/NativeImagePlugin.java
Labels: bug, gradle-plugin, OCA Verified
